* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    width: auto;
    height: 50px;
    justify-content: center;
    gap: 320px;
    padding-top: 10px;
}

.container p {
    font-size: 24px;
    color: #F9FAF8;

}

.container a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
  margin-left: 10px;
}
/* 
#last-a {
    padding-right: 200px;
} */

/* AD section */
.container-ad {
    display: flex;
    width: auto;
    height: 300px;
    gap: 0 50px;
    align-content: center;
    flex-flow: column wrap;
    justify-content: center;
    
}

.container-ad h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 300px;
}

.container-ad p {
    font-size: 18px;
    color: #E5E7EB;
    width: 380px;
}

.container-ad button {
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    padding: 5px;
    margin: 0;
    border: none;
    outline: none;
}

.container-ad img {
    width: 400px;
    height: 200px;
}

/* mid section */
.container-title {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;    
    align-content: flex-start;         
}

.container-title h4 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 50px 0;
}

.container-display {
    display: flex;
    width: auto;
    height: 358px;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    gap: 15px;
}

.container-display img {
    width: 150px;
    height: 150px;
}

.container-display p {
    font-size: 18px;
    color: grey;
    width: 150px;
    text-align: center;
}

.container-quote {
    display: flex;
    width: auto;
    height: 430px;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
}

.container-quote p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#author {
    font-weight: bold;
    font-style: normal;
    text-align: end;
    font-size: 20px;
}

.container-sign {
    display: flex;
    width: 1020px;
    height: 150px;
    background-color: #3882F6;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-between;
    border-radius: 8px;
    color: white;
    margin: 100px 200px;
    padding: 50px 120px;
}

h3 {
    font-weight: bold;
    font-size: 22px;
}

.container-sign p {
    font-size: 18px;
}

.container-sign button {
    width: 130px;
    background-color: #3882F6;
    border-color: white;
    color: white;
    align-self: flex-end;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 35px;
}

.foot {
    display: flex;
    width: auto;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.foot p {
    font-size: 18px;
    color: #E5E7EB;
}

/* hero and footer color */
.hf-colors {
    background-color: #1F2937;
}

.m-color {
    background-color: white;
}

.q-color {
    background-color: #E5E7EB;
}
