* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    width: auto;
    height: 50px;
    justify-content: space-between;
    padding-top: 10px;
}

.container p {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 200px;
}

.container a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
  margin-left: 10px;
}

#last-a {
    padding-right: 200px;
}

/* AD section */
.container-ad {
    display: flex;
    width: auto;
    height: 300px;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 200px;
}

.container-ad h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 300px;
}

.container-ad p {
    font-size: 18px;
    color: #E5E7EB;
    width: 380px;
}

.container-ad button {
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    padding: 5px;
}

.container-ad img {
    width: 400px;
    height: 200px;
}


/* hero and footer color */
.hf-colors {
    background-color: #1F2937;
}

